body{
    background-color: #e7e7e6;
    margin: 0;
    padding: 0;
    color: #373737;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

img {
    width: 150px;
}

a {
    color: blanchedalmond;
}

a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  a:hover, a:active {
    background-color: #DB0102;
    color: white;
  }

/*********** header ***********/
.header{
    font-size: larger;
    color: #ffffff;
    background-color: white;
}

/********* Products *********/
.product-header{
    margin: 0;
    text-align: center;
    padding: 75px 0;
    box-sizing: border-box;

}

.products-box{
    background-color: #cecece;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
}

/********* Footer *********/

