body{
    margin: 0;
    padding: 0;
    color: #373737;
}
.header{
    background-color: #a50505;
    font-size: larger;
    color: #ffffff;
}

a {
    color: blanchedalmond;

}

.container-header{
    text-align: center;
    margin: 50px 0;
    background-color: #d6d6d6;
    padding: 25px 0;
}