@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', san;
}

h1, h2, h3, h4, h5, p {
    margin-bottom: .5em;
}

p {
    margin-bottom: .75em;
    padding: 0 2.5em;
}

ol, ul{
    padding: 0 4rem;
    margin-bottom: .5em;
}